<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>User Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap">
    <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/berlin-sans-fb-demi">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>

<body>
    <div id="index">
        <main class="content">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <section class="user-table">
                <h1>Weight in, See Trends (or not), Go out!</h1>
                <table class="excel-table">
                    <thead>
                        <tr>
                            <th>
                                <div id="loginContainer" class="button-container">
                                    <button onclick="showContent('login')">Login</button>
                                </div>
                            </th>
                            <th>
                                <div id="registerContainer" class="button-container">
                                    <button onclick="showContent('register')">Register</button>
                                </div>
                            </th>
                            <th>
                                <div id="contactContainer" class="button-container">
                                    <button onclick="showContent('contact')">Contact</button>
                                </div>
                            </th>
                            <th>
                                <div id="dbContainer" class="button-container">
                                    <button onclick="showContent('dbStatus')">Check Database Status</button>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for l in lst %}
                        <tr>
                            <td>{{ l[0] or '&nbsp;' | safe }}</td>
                            <td>{{ l[1] or '&nbsp;' | safe }}</td>
                            <td>{{ l[2] or '&nbsp;' | safe }}</td>
                            <td>{{ l[3] or '&nbsp;' | safe }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div id="login" class="content-container">
                    <div class="col-md-6 justify-self-start align-self-start vertical-align-top">
                        <div class="box-container">
                            {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                            {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                            <!-- Login form -->
                            <h2>Login</h2>
                            <form action="/login" method="post">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                <div class="form-group">
                                    <label for="loginName">Username:</label>
                                    <input type="text" class="form-control" id="loginName" name="name" required>
                                </div>
                                <div class="form-group">
                                    <label for="loginPassword">Password:</label>
                                    <input type="password" class="form-control" id="loginPassword" name="password"
                                        required>
                                </div>
                                <p><button type="submit" class="btn btn-success"><i
                                            class="fas fa-sign-in-alt"></i></button><a href="/"
                                        class="btn btn-success"><i class="fas fa-undo"></i></a></p>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="register" class="content-container">
                    <div class="col-md-6 justify-self-start align-self-start vertical-align-top">
                        <div class="box-container">
                            {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                            {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                            <!-- Register form -->
                            <h2>Register</h2>
                            <form action="/register" method="post">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                <div class="form-group">
                                    <label for="registerName" style="color: white;">Username:</label>
                                    <input type="text" class="form-control" id="registerName" name="name" required>
                                </div>
                                <div class="form-group">
                                    <label for="registerPassword" style="color: white;">Password:</label>
                                    <input type="password" class="form-control" id="registerPassword" name="password"
                                        required>
                                </div>
                                <p><button type="submit" class="btn btn-success"><i
                                            class="fas fa-registered"></i></button><a href="/"
                                        class="btn btn-success"><i class="fas fa-undo"></i></a></p>
                            </form>
                            <p>Already have an account? <a href="javascript:void(0);" onclick="showContent('login')" style="color: rgba(224, 133, 121);">Login</a></p>
                            </p>
                        </div>
                    </div>
                </div>
                <div id="contact" class="content-container">
                    <div class="col-md-12">
                        <div class="box-container">
                            <!-- Enhanced Contact info -->
                            <h2>Contact Information</h2>
                            <div class="profile-info">
                                <!--<img src="{{ url_for('static', filename='img/profile.jpg') }}" alt="Profile Image" class="profile-image">-->
                                <p class="bio">Feel free to reach out to me on GitHub or LinkedIn or drop me an email!
                                </p>
                            </div>
                            <div class="contact-links">
                                <a href="https://github.com/kamra34/" target="_blank" class="contact-link">
                                    <i class="fab fa-github"></i> GitHub
                                </a>
                                <br>
                                <br>
                                <a href="https://www.linkedin.com/in/kamiarradnosrati/" target="_blank"
                                    class="contact-link">
                                    <i class="fab fa-linkedin"></i> LinkedIn
                                </a>
                                <br>
                                <br>
                                <!-- Example email link; ensure to protect against spam bots if using a direct email link -->
                                <a href="mailto:your.email@example.com" class="contact-link">
                                    <i class="fas fa-envelope"></i> Email Me
                                </a>
                                <br>
                                <br>
                            </div>
                            <a href="/" class="btn btn-success"><i class="fas fa-undo"></i></a>
                        </div>
                    </div>
                </div>
                <div id="dbStatus" class="content-container">
                    <div class="col-md-12">
                        <div class="box-container">
                            <!-- Database status content with improved visualization -->
                            <h2>Database Status</h2>
                            {% if db_status == 'up' %}
                            <p><i class="fas fa-database" style="font-size:26px;color: #28a745"></i> Database is up and
                                running.</p>
                            <h3>Available Tables</h3>
                            {% if tables|length > 0 %}
                            <table class="table table-dark table-striped">
                                <thead>
                                    <tr>
                                        <th>Table Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for table in tables %}
                                    <tr>
                                        <td>{{ table }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <p>No tables available.</p>
                            {% endif %}
                            {% else %}
                            <p><i class="fas fa-database" style="font-size:26px;color: #dc3545"></i> Database connection
                                failed.</p>
                            {% endif %}
                            <a href="/" class="btn btn-success"><i class="fas fa-undo"></i></a>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <script>
        function showContent(id) {
            // Hide all content containers first
            const contents = document.querySelectorAll('.content-container');
            contents.forEach(content => {
                content.style.display = 'none';
            });

            // Show the selected content container
            const selectedContent = document.getElementById(id);
            selectedContent.style.display = 'block'; // Or toggle with 'block'/'none'
        }
    </script>
</body>

</html>