<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Database Connection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tooplate-simply-amazed.css') }}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Test Database Connection</h1>
                <p class="tm-work-item-inner">The database connection was successful!</p>
                <a href="/" class="btn btn-primary">Go Back</a>
            </div>
        </div>
    </div>
</body>
</html>
